@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';



@theme {
  --color-purple: #b96ce6;
  --font-display: "Permanent Marker", cursive; 
  --font-size-xs: 5px;
  --font-size-sm: 10px;
  --font-size-md: 15px;
  --font-size-3xl: 34x;

  --text-mini: 8px;

}
@layer base {
  body {
    @apply  dark:bg-slate-900 text-white
  }
  h1 {
    @apply mb-2 text-xl font-mono
  }
}